.popup__profile-info {
	display: flex;
	flex-direction: column;
	border: none;
	padding: 34px 0 0 0;
	box-sizing: border-box;
	margin: 0 0 48px;
}

@media screen and (max-width: 618px) {
	.popup__profile-info {
		padding-top: 25px;
		margin-bottom: 45px;
	}
}